.homepage{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.form{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
footer{
  position: fixed;
  bottom: 0;
}
.inputgroup{
  display: flex;
  flex-direction: column;
}
.heading{
  margin-bottom: 10px;
  margin-top: 0;
}
.homepagelogo{
  margin: -10 auto;
}
.inputfield{
 padding: 10px;
 border-radius: 5px;
 outline: none;
 border: none;
 margin-bottom: 14px;
 background: #eeee;
 font-weight: bold; 
 font-size: 14px;
}
.btn{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;    
  font-size: 14px;   
  transition: all 0.3s ease-in-out;

}
.joinbtn{
  background: #4aed88;
  width: 100px;
  font-weight: bold;
  margin-left: auto;
  margin-bottom: 15px;
}
.joinbtn:hover{
  background: rgb(6, 168, 6);
  width: 100px;
  color: white;
}
.createidtxt{
  margin: 0 auto;
}

.createidlink,footer h4 a{
  text-decoration: none;
  color: #4aed88;
  border-bottom: 1px solid #4aed88;
  padding: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.createidlink:hover,footer h4 a:hover{
color:rgb(6, 168, 6);
}

footer h4{
  font-weight: normal;
  font-size: 14px;
}

